body {
    font-family: Arial;
    background-color: Canvas;
    color: CanvasText;
    color-scheme: light dark;
    margin: 1em;

    display: flex;
    flex-direction: column;
    
    background-image: url("public/img/rocktile.jpg");
    background-color: rgb(0, 0, 0, 0.9);
    background-blend-mode: darken;
}

h1, h2, h3 {
    font-family: monospace;
    text-align: center;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.horizontal {
    display: flex;
}

.scrolling {
    overflow: auto;
}

.wrap {
    flex-wrap: wrap;
}

.horizontal > * {
    margin: 0.5em;
    flex: 0 0 auto;
}

.center {
    display: flex;
    justify-content: center;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items:end;
}

header > * {
    margin: 0 10px;
    text-align: center;
}

#headshot {
    border-radius: 50%;
    width: 10em;
    height: auto;
}

/* About */
#about {
    background-color: #333;
    display: inline-block;
    padding: 1em;
    text-align: center;
    line-height: 1.5;
    border: white 1px solid;
    margin: 0 auto;
}

/* Links */
.info-button {
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1em;
    border-radius: 0.7em;
    border: none;
}

.info-button:hover {
    opacity: 0.7;
}

#resumeButton {
    background: #007bb5;
    color: white;
    font-weight: bold;
    font-family: monospace;
}

.fa-github {
    background: black;
    color: white;
}

.fa-envelope {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

/* Project */
#projects {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Skills */
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}